.police
{
font-family:sans-serif;
}

body
{
	font-size: 18px;
}

body
{
	margin-right: 23%
}

body
{
	margin-left: 23%
}
	
body
{
	line-height: 1.6
}

body
{
	background-color: #EEEEEE
}
body
{
	color: #444
}

